@import "primeicons/primeicons.css";
@import "primeflex/primeflex.scss";

html, body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family, Inter, sans-serif);
  background-color: var(--surface-ground);
  color: var(--text-color);
}

.error-tooltip .p-tooltip-text {
  background-color: var(--red-500) !important;
  color: white !important;
  font-size: 0.75rem !important;
  padding: 0.25rem 0.5rem !important;
}

.error-tooltip.p-tooltip-right .p-tooltip-arrow {
  border-right-color: var(--red-500) !important;
}
.error-tooltip.p-tooltip-left .p-tooltip-arrow {
  border-left-color: var(--red-500) !important;
}
.error-tooltip.p-tooltip-top .p-tooltip-arrow {
  border-top-color: var(--red-500) !important;
}
.error-tooltip.p-tooltip-bottom .p-tooltip-arrow {
  border-bottom-color: var(--red-500) !important;
}
